{% load static %}
<header class="header">

  <div class="header-title">
    <a href="/" style="text-decoration: none; display: block;">
      <img src="{% static 'img/logo2.png' %}" alt="Logo" style="height: 150px; cursor: pointer;">
    </a>
  </div>

  <div class="user-icons" id="userIcons">
    <!-- Será preenchido dinamicamente pelo JavaScript -->
    <div id="loadingSpinner" style="color: white;">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </div>
</header>

<script src="{% static 'js/header.js' %}"></script>
