/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* background: linear-gradient(#000000, #1a1b2b);
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))); */
}
/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap;
  position: relative;
} */

/* Botões estilo semáforo */
.header-controls {
  display: flex;
  gap: 5px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.red { background-color: #ff5f56; }
.yellow { background-color: #ffbd2e; }
.green { background-color: #27c93f; }

/* Logo centralizada */
.header-title {
  flex: 1;
  text-align: center;
}

.header-title h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Ícones de usuário */
.user-icons {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  flex-direction: column;
}


/* Responsividade */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-controls,
  .user-icons {
    margin-bottom: 10px;
  }

  .header-title {
    order: -1;
  }
}